@keyframes fadein {
    from { opacity: 0;transform: translateY(40px); }
    to   { opacity: 1;transform: translateY(0); }
  }

.heatmaps-container{
    display: flex;
    flex:1;
    animation: fadein 1s
}

.heatmaps-map-container{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding:0 1%;
    background-color: rgba(0,0,0,0.1)
}

.heatmaps-map-bg{
    height: 512px;
    width: 512px
}

.heatmaps-options-container{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    padding: 48px;
}