@keyframes fadein {
  from { opacity: 0;transform: translateY(40px); }
  to   { opacity: 1;transform: translateY(0); }
}

.StatTable-container{
  color: white;
  /* font-family: 'open sans','Helvetica Neue', sans-serif; */
  font-family: 'OpenSans-Regular','Helvetica Neue', sans-serif;

  border-radius: 5px;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg,#16245c,#5c1625);
  margin: 2%;
  align-self: flex-start;
  background-color: #111b2ecc;
  box-shadow: 0px 2px 10px 0px #111111;
  animation: fadein 1s
}

.StatTable-table{
    padding: 0px;
    border-collapse: collapse;
    font-size: 0.9rem;
    width:100%
}

.StatTable-table-row{
    background-color: rgba(155,155,155,0.1);
  }


.StatTable-table-cell{
    padding: 14px 32px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
}

.StatTable-table-header-cell{
  text-transform: capitalize;
}

.StatTable-table-name{
    width: 100%;
    padding: 20px;
    text-align:left;
    text-transform: uppercase;
    background-image: linear-gradient(135deg,#16245c88,#5c162588);
    font-weight: 400;
    letter-spacing: 1px;
}

.StatTable-bar-container{
 height: 3px;
 width: 100%;
 display: flex;
}


.StatTable-separator{
  height: 10px;
  width: 100%;
  color: rgba(155,155,155,0.2)
}